<?xml version='1.0' encoding='utf-8'?>
<widget id="com.klinikkurtapp.msr" version="4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>KlinikKurt</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="StatusBarOverlaysWebView" value="true"/>
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
	  <preference name="SplashScreen" value="screen"/>
	  <preference name="SplashScreenDelay" value="12000" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="18" />
    <preference name="android-installLocation" value="auto" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />

	<icon src="icon.png" />
    <platform name="android">
                <icon src="www/res/icon/android/icon-36-ldpi.png" density="ldpi" />
                <icon src="www/res/icon/android/icon-48-mdpi.png" density="mdpi" />
                <icon src="www/res/icon/android/icon-72-hdpi.png" density="hdpi" />
                <icon src="www/res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
       </platform>

 <!-- iPhone / iPod Touch  -->
 <icon src="res/icon/ios/Icon-60.png" gap:platform="ios" width="60" height="60" />
 <icon src="res/icon/ios/Icon-60@2x.png" gap:platform="ios" width="120" height="120" />
 <icon src="res/icon/ios/Icon-60@3x.png" gap:platform="ios" width="180" height="180" />
 <icon src="res/icon/ios/Icon.png" gap:platform="ios" width="57" height="57" />
 <icon src="res/icon/ios/Icon@2x.png" gap:platform="ios" width="114" height="114" />

 <!-- iPad -->
 <icon src="res/icon/ios/Icon-76.png" gap:platform="ios" width="76" height="76" />
 <icon src="res/icon/ios/Icon-76@2x.png" gap:platform="ios" width="152" height="152" />
 <icon src="res/icon/ios/Icon-72.png" gap:platform="ios" width="72" height="72" />
 <icon src="res/icon/ios/Icon-72@2x.png" gap:platform="ios" width="144" height="144" />
 <icon src="res/icon/ios/Icon-83.5@2x.png" gap:platform="ios" width="167" height="167" />

 <!-- iPhone Settings Icon -->
 <icon src="res/icon/ios/Icon-small.png" gap:platform="ios" width="29" height="29" />
 <icon src="res/icon/ios/Icon-small@2x.png" gap:platform="ios" width="58" height="58" />
 <icon src="res/icon/ios/Icon-small@3x.png" gap:platform="ios" width="87" height="87" />
 <icon src="res/icon/ios/Icon-50.png" gap:platform="ios" width="50" height="50" />
 <icon src="res/icon/ios/Icon-50@2x.png" gap:platform="ios" width="100" height="100" />

 <!-- iPad Settings Icon -->
 <icon src="res/icon/ios/Icon-small.png" gap:platform="ios" width="29" height="29" />

 <!-- iPhone Spotlight Icon -->
 <icon src="res/icon/ios/Icon-40@2x.png" gap:platform="ios" width="80" height="80" />
 <icon src="res/icon/ios/Icon-40@3x.png" gap:platform="ios" width="120" height="120" />

 <!-- iPad Spotlight Icon -->
 <icon src="res/icon/ios/Icon-40.png" gap:platform="ios" width="40" height="40" />
 <icon src="res/icon/ios/Icon-Small-50.png" gap:platform="ios" width="50" height="50" />
 <icon src="res/icon/ios/Icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />

 <!-- iPad Spotlight Icon -->
 <icon src="res/icon/ios/iTunesArtwork" gap:platform="ios" width="512" height="512" />
 <icon src="res/icon/ios/iTunesArtwork@2x" gap:platform="ios" width="1024" height="1024" />

    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screen/android/screen-xhdpi-portrait.png" />

<!-- iPhone and iPod touch -->
<gap:splash src="res/screen/ios/Default.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="res/screen/ios/Default@2x.png" gap:platform="ios" width="640" height="960" />

<!-- iPhone 5 / iPod Touch (5th Generation) -->
<gap:splash src="res/screen/ios/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

<!-- iPhone 6 -->
<gap:splash src="res/screen/ios/Default-667h.png" gap:platform="ios" width="750" height="1334" />

<!-- iPhone 6 plus-->
<gap:splash src="res/screen/ios/Default-736h.png" gap:platform="ios" width="1242" height="2208" />

<!-- iPad -->
<gap:splash src="res/screen/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="res/screen/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
<gap:splash src="res/screen/ios/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="res/screen/ios/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1536" />

<!-- iPad Pro-->
<gap:splash src="res/screen/ios/2048x2732.png" gap:platform="ios" width="2048" height="2732" />

    <access origin="*" />
</widget>
