.bigbtnsmltxt, .bigbtnbigtxt{
	display:none;
}
#svark .ui-controlgroup-horizontal .ui-radio {
/*width: 16%;*/
}
#vctermradio .ui-controlgroup-horizontal .ui-radio {
/*width: 18%;
border: none;
}*/

/*.popupright {
//    right:3%;
}
.popupleft {
//    left: 3%;
}*/
/*#vcsex .ui-controlgroup-horizontal, #kksex .ui-controlgroup-horizontal {
margin-left:25%;
}*/

#vccont h2{
    /*padding-left: 3%;*/
}
