/*TODO: Change green and yellow select colours*/

#newcont {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}

* {
    margin: 0;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout: none;

    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;

    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;
}


.ui-page {
    background-color: #ffffff !important;
}

p {

}
h1,
h2,
h3 {

    /*TODO: Font family not needed for h2*/
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-align: center;
}
h2 {
    font-size: 1.7em;
    line-height: 1em;

}

form {
}
fieldset {
}



/*Home Menu Buttons*/

#toKlinikkurt, #toOmAll, #toIfyllt, #toVcKurt {
    background-size:auto 70%;
    background-repeat:no-repeat;
    background-position: 30% 80%;
    position: absolute;
    width: 100%;
    height: 25%;
}

#toKlinikkurt {
    background-color: #3498db;
    background-image: url(../img/fkk.png);
}

#toVcKurt {
    bottom: 50%;
    background-color: #DD3652;
    background-image: url(../img/fvck.png);
}

#toIfyllt {
    bottom: 25%;
    background-color: #F1BC4D;
    background-image: url(../img/vfi.png);
}

#toOmAll {
    bottom: 0%;
    background-color: #4F7B3C;
    background-image: url(../img/info.png);
}

/*Headers*/
.ui-header {
    height: 9%;
}

/*Titles in headers*/
.ui-header .ui-title,
.ui-footer .ui-title {
    position: absolute;
    margin-left: 0px;
    padding-bottom: 0.5em;
    bottom: 0;
    width: 100%;
}

/*Back buttons in header*/
.ui-header-fixed .ui-btn-left {
  bottom: 0;
  top: auto;
}

/* === KlinikKurt Page === */
#kkpage{

}




/*TODO: Check if needed*/
#restofkk {
    overflow-y: scroll !important;
    overflow-x: hidden;
    position: relative;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    display: none;
}



#kkt5,
#kkt6,
#kkt7,
#kkt8,
#kkt9,
#ortcont,
#kkfr3,
#kkfr4 {
  display: none;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

#terminfo {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  opacity: 0.3

}

#restOfVC,
#vcOrt {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  display: none;
}

/*Placement button labels*/
label.ui-btn.ui-corner-all.ui-btn-f.ui-btn-icon-left {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}



/* Message of required fields*/
#kkreqmsg,
#vcreqmsg {
}


/* === Forms and questions ===*/

#kktermin,
#vctermin {
    width: 95%;
    margin: auto;
}
 /*Semester radio*/
#kktermin .ui-controlgroup-horizontal .ui-radio,
#vctermin .ui-controlgroup-horizontal .ui-radio,
#svark .ui-controlgroup-horizontal .ui-radio {
    width: 20%;
}
 /*Semester radios text align*/
#kktermin .ui-btn.ui-corner-all.ui-btn-f,
#vctermin .ui-btn.ui-corner-all.ui-btn-d,
#svark .ui-btn.ui-corner-all.ui-btn-e {
  text-align: center;
}

#klinikkurt,
#vckurt {
    width: 95%;
    margin: auto;
}

/*Drop-down menu's default text*/
#kkq2-button,
#kkq3-button,
#kkq4-button,
#kkq18-button,
#vcq2-button,
#vcq15-button {
  padding-left: 0;
  padding-right: 0;
}

/*Question radios*/
#restofkk .ui-radio,
#vckurt .ui-radio {
  /* 16.67 causes clipping on narrower screens such as iPhone 5*/
  width: 16.33%;
  /*Spacing*/
  margin-left: 0.4%;
}
/*Removes the spacing border of the first question radio*/
#restofkk .ui-radio:nth-child(2),
#vckurt .ui-radio:nth-child(2) {
  margin-left: 0;
}

.questioncontainer {
    font-family: helvetica;
    text-align: center;
    font-weight: 500;
}
/* Question radio container*/
#restofkk .ui-field-contain,
#vckurt .ui-field-contain {
  margin-top: 7%;
  margin-bottom: 7%;
}

.ui-controlgroup-horizontal {
}

/*Semester buttons*/
.ui-field-contain .ui-controlgroup-controls {
    width: 100%;
}

.fewq,
.moreq,
.vckq {
  font-weight: 600;
  font-size: 1.2em;
  display: none;
}


/* Questions scale buttons*/
#vckurt .ui-controlgroup-horizontal, #klinikkurt .ui-controlgroup-horizontal {
}

/*Scale indicators*/
.popupcontainer {

}

.popupleft {
    width: 40%;
    height: 52%;
    background: url(../img/popupleftnew.png) no-repeat top left;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

}

.popupright {
    width: 40%;
    height: 52%;
    background: url(../img/popuprightnew.png) no-repeat top center;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

}

.popuptextcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 76%;
  width: 100%;
}

.popuptext {
  color: #FFF;
  font-family: Helvetica Neue;
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0;
}

/*Sex question buttons*/
#vcsex .ui-controlgroup-horizontal .ui-radio,
#kksex .ui-controlgroup-horizontal .ui-radio {
    /*width: 25%;*/
    /*left: 25%;*/

}

#kksex .ui-field-contain,
#vcsex .ui-field-contain {
  /*margin-top: 0;*/
}

/*Sex question button tex*/
#kksex .ui-btn.ui-corner-all.ui-btn-f,
#vcsex .ui-btn.ui-corner-all.ui-btn-d {
  /*text-align: center;*/
  /* Fixes problem of cliping on narrower screens as iPhone 5*/
  /*text-overflow: clip;*/
}

#vcsex .ui-controlgroup-horizontal,
#kksex .ui-controlgroup-horizontal {

}

.kvinman .ui-btn{

}

input {

}

input,
textarea,
select {

}

textarea.ui-input-text{
  -webkit-user-select: text;
  font-family: verdana, sans-serif;
  font-size: 10px;
  border: 1px solid #c0c0c0;
  color: #454545;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 7%;
}

.ui-select .ui-btn select {
}

/*==== VC-kurt ====*/
#vcOrt .ui-field-contain {
  margin-top: 0;
}

#vctermin {

}

/*==== VadFyllt pages ====*/

#vadfylltjag textarea[placeholder] {
  text-align: center;
}

#mailkcasid,
#svarkcasid {
  max-height: 2.4em;
}

#vftradios {

}

#svark .ui-controlgroup-horizontal {

}

#svark .ui-controlgroup-horizontal .ui-radio {
}

#svark #vftradios .ui-btn-text {
}

#omappcont,
#jagcont,
#termincont {

}
/*Tabs*/

/*Selected tabs colour-change*/
.ui-icon-tabD.ui-btn-active,
.ui-icon-tabE.ui-btn-active {
    /* Need to be marked as !important*/
    background-color: #F1BC4D !important;
}

/* D = Me */

/*Not selected*/
.ui-icon-tabD:after {
    background: -webkit-image-set(url(../img/ifjaginew.png) 1x, url(../img/ifjagi@2xnew.png) 2x) no-repeat center center;

}
/*Selected*/
#tabD.ui-btn-active.ui-icon-tabD:after {
    background:  -webkit-image-set(url(../img/ifjaganew.png) 1x, url(../img/ifjaga@2xnew.png) 2x) no-repeat center center;
}

#tabDe.ui-icon {

}
#tabDe.yellowtab .ui-icon-custom {

}

/* E = Semester */

#tabEe.ui-icon {

}
#tabEe.yellowtab .ui-icon-custom {

}

/*Not selected*/
.ui-icon-tabE:after {
    background: -webkit-image-set(url(../img/ifterminew.png) 1x, url(../img/iftermi@2xnew.png) 2x) no-repeat center center;

}

/*Selected*/
#tabE.ui-btn-active.ui-icon-tabE:after {
    background: -webkit-image-set(url(../img/iftermanew.png) 1x, url(../img/ifterma@2xnew.png) 2x) no-repeat center center;
}

/*==== Omall pages ====*/

#omallcont {

}


#omkkframe,
#omappframe,
#ommsrframe,
#omallframe {

}

/*Tabs*/

.ui-icon-tabF.ui-btn-active,
.ui-icon-tabG.ui-btn-active,
.ui-icon-tabH.ui-btn-active {
   background-color: #4F7B3C !important;
}

/* F = About MSR */
/* TODO: -webkit-image-set for all tabs */
.ui-icon-tabF:after {
    background: -webkit-image-set(url(../img/ommsrinew.png) 1x, url(../img/ommsri@2xnew.png) 2x) no-repeat center center;
}
.ui-btn-active.ui-icon-tabF:after {
    background: -webkit-image-set(url(../img/ommsranew.png) 1x, url(../img/ommsra@2xnew.png) 2x) no-repeat center center;
}

/* G = About KK */

.ui-icon-tabG:after {
    background: -webkit-image-set(url(../img/omkkinew.png) 1x, url(../img/omkki@2xnew.png) 2x) no-repeat center center;
}
.ui-btn-active.ui-icon-tabG:after {
    background: -webkit-image-set(url(../img/omkkanew.png) 1x, url(../img/omkka@2xnew.png) 2x) no-repeat center center;
}

/* H = About App */

.ui-icon-tabH:after {
    background: -webkit-image-set(url(../img/omappinew.png) 1x, url(../img/omappi@2xnew.png) 2x) no-repeat center center;
}
.ui-btn-active.ui-icon-tabH:after {
    background: -webkit-image-set(url(../img/omappanew.png) 1x, url(../img/omappa@2xnew.png) 2x) no-repeat center center;
}

/*==== Tabs: General rules ====*/

/*Fixes the left margin of the bottom navbar*/
html .ui-bar-c {
  border: none;
}

/*Removes the left border*/
#tabD,
#tabE,
#tabF,
#tabG,
#tabH {
  border: none;
}

/*Tab icon position*/
.ui-icon-tabF:after,
.ui-icon-tabG:after,
.ui-icon-tabH:after,
.ui-icon-tabD:after,
.ui-icon-tabE:after {
    width: 50%;
    height: 50%;
    margin-left: -25%;
    background-size: 50px 50px;

}

#tabD.ui-btn-icon-top,
#tabE.ui-btn-icon-top,
#tabF.ui-btn-icon-top,
#tabG.ui-btn-icon-top,
#tabH.ui-btn-icon-top{
  padding-top: 2.9em;
}

/*==== The rest ====*/
#kkcont,
#vccont,
#jagcont,
#omallcont {
    padding: 0 0 0 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


#kkbody,
#vcpage,
#vcbody {
}

#vfjcont,
#vftcont,
#ommsrdiv,
#omkkdiv,
#omappdiv {
  width: 95%;
  margin: auto;
}

 /*==== Animations ====*/

.animated {
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  -o-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.animatedFast {

}
